@{
    ViewData["Title"] = "About eFruit";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>eFruit is the new e-commerce platform which aims to modernize and digitalize the whole fruit industry.</p>
