@{
    ViewData["Title"] = "Contact eFruit";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Knarrarnäsgatan 7, 164 40 Kista<br />
    Stockholm<br />
    <abbr title="email">E:</abbr>
    bassam.gamal@alten.se<br />
</address>
